@import "./mixins/mixins.scss";
@import "./common/var.scss";

@include el(carousel) {
  position: relative;
  overflow: hidden;
  @include m(container) {
    position: relative;
    overflow: hidden;
  }
  @include m(arrow) {
    position: absolute;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: #fff;
    background-color: rgba(31, 45, 61, 0.11);
    cursor: pointer;

    &:hover {
      background-color: rgba(31, 45, 61, 0.23);
    }

    @include join(left) {
      left: 16px;
    }
    @include join(right) {
      right: 16px;
    }
  }
  @include m(indicators) {
    position: absolute;
    z-index: 2;
    font-size: 0;
    @include join(horizontal) {
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    @include join(vertical) {
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
    @include join(outside) {
      position: static;
      transform: none;
      text-align: center;
      bottom: 26px;

      .mf-carousel__button {
        background-color: #c0c4cc;
        opacity: 0.25;
      }

      @include when(active) {
        .mf-carousel__button {
          opacity: 1;
        }
      }
    }

    @include join(label) {
      .mf-carousel__button {
        height: auto;
        width: auto;
        padding: 4px 18px;
      }
    }
  }
  @include m(indicator) {
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    @include join(horizontal) {
      padding: $--carousel-indicator-padding-horizontal
        $--carousel-indicator-padding-vertical;
    }
    @include join(vertical) {
      display: list-item;
      padding: $--carousel-indicator-padding-vertical
        $--carousel-indicator-padding-horizontal;

      .mf-carousel__button {
        width: 2px;
        height: 15px;
      }
    }

    @include when(active) {
      .mf-carousel__button {
        opacity: 1;
      }
    }
  }

  @include m(button) {
    width: 32px;
    height: 2px;
    background-color: #fff;
    opacity: 0.4;
    transition: 0.3s;
  }
}

.carousel-arrow-left-enter-active {
  transition: all 0.3s;
}
.carousel-arrow-left-enter,
.carousel-arrow-left-leave-active {
  transition: all 0.3s;
  transform: translateY(-50%) translateX(-10px);
  opacity: 0;
}

.carousel-arrow-right-enter-active {
  transition: all 0.3s;
}
.carousel-arrow-right-enter,
.carousel-arrow-right-leave-active {
  transition: all 0.3s;
  transform: translateY(-50%) translateX(10px);
  opacity: 0;
}
