@import "./common/var.scss";
@import "./mixins/mixins.scss";

@include el(input) {
  position: relative;
  display: inline-block;
  > .mf-input__inner {
    padding: 0 15px;
    width: 180px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    color: #606266;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #d8d7d7;
    outline: none;
    cursor: pointer;
  }
  > .mf-input__inner::placeholder {
    color: #bdbdbd;
  }

  > .mf-input__inner:hover {
    border: 1px solid #bebebe;
  }

  > .mf-input__inner:focus {
    border: 1px solid $--color-primary;
  }

  @include when(disabled) {
    .mf-input__inner {
      color: $--input-color-disabled;
      background-color: $--input-disabled-fill;
      border-color: $--input-disabled-border;
      cursor: not-allowed;
    }
    &::placeholder {
      color: $--input-disabled-placeholder-color;
    }
  }

  @include join(suffix) {
    .mf-input__inner {
      padding-right: 30px;
    }
  }

  @include join(prefix) {
    .mf-input__inner {
      padding-left: 30px;
    }
  }

  .mf-input__suffix {
    position: absolute;
    top: 0;
    right: 5px;
    height: 36px;
    line-height: 36px;
    text-align: center;

    .mf-icon-close-circle,
    .mf-icon-eye {
      cursor: pointer;
    }
    .mf-input__icon {
      display: inline-block;
      width: 25px;
      height: 100%;
      font-size: 14px;
      color: #c0c4cc;
    }
  }

  .mf-input__prefix {
    position: absolute;
    top: 0;
    left: 5px;
    height: 36px;
    line-height: 36px;
    text-align: center;

    .mf-input__icon {
      display: inline-block;
      width: 25px;
      height: 100%;
      font-size: 14px;
      color: #c0c4cc;
    }
  }

  @include join(large) {
    .mf-input__inner,
    .mf-input__suffix,
    .mf-input__prefix {
      height: 40px;
      line-height: 40px;
    }
  }
  @include join(small) {
    .mf-input__inner,
    .mf-input__suffix,
    .mf-input__prefix {
      height: 32px;
      line-height: 32px;
      font-size: 12px;
    }
  }
}
