@import "./mixins/mixins.scss";
@import "./common/var.scss";

@include el(select) {
  display: flex;
  position: relative;
  width: 240px;

  .mf-input,
  .mf-input__inner {
    width: 100%;
    flex-grow: 1;
  }

  @include when(disabled) {
    cursor: not-allowed;
  }
}

@include el(select-tag) {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  max-width: 208px;
  flex-grow: 1;
  .mf-tag {
    margin-left: 5px;
  }

  &::after {
    clear: both;
  }
}

.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.3s ease;
}
.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active for below version 2.1.8 */ {
  transform: translateY(-10px);
  opacity: 0;
}


@include el(select-dropdown) {
    position: absolute;
    z-index: 1;
    margin-top: 10px;
    padding: 5px 0;
    min-width: 240px;
    border: 1px solid #e4e7ed;
    border-radius: 5px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    background-color: $--color-white;
  
    @include when(multiple) {
      & .mf-select-menu__item.selected {
        &::after {
          position: absolute;
          right: 20px;
          font-family: "iconfont" !important;
          content: "\e886";
          font-size: 12px;
          font-weight: bold;
        }
      }
    }
  }
  @include el(menu-arrow) {
    position: absolute;
    top: -11px;
    left: 25px;
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: $--border-color-base;
    border-left-color: transparent;
  
    &::after {
      position: absolute;
      top: -4px;
      left: -5px;
      content: "";
      width: 0;
      height: 0;
      border-width: 5px;
      border-style: solid;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: #fff;
      border-left-color: transparent;
    }
  }
  